.sidebar .badge {
  padding: 2px 12px;
  border-radius: 999px;
  background: @accent_bg_color;
  color: @text_view_bg;
}

.font-bold {
  font-weight: bold;
}

.attachment, .attachment button, flowboxchild {
	padding:0px;
	margin:0px;
}

.attachment .osd {
	padding: 6px 12px;
	border-radius: 6px;
	margin: 8px;
}

.ttl-flat-button {
  padding: 0px;
  margin: 0px;
}

.ttl-thread-line {
  background: @theme_fg_color;
  opacity: .1;
  margin-top: -8px;
  margin-bottom: -8px;
}

.ttl-code {
	font-family: monospace;
	padding: 12px;
	background: rgba(150,150,150,.1);
	border-radius: 6px;
}

.ttl-view .content row  {
	padding: 0px;
}

.ttl-view .small .content {
	border: none;
	border-radius: 0;
	transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ttl-view .small .content row {
	border-left: none;
	border-right: none;
	border-radius: 0px;
}

/* Hides the top border from the first row of the first listbox */
.ttl-view .small :first-child list row:first-child {
	border-top: 0px;
}

.ttl-view clamp > * {
	transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ttl-view .large {
	margin-left: 18px;
	margin-right: 18px;
}
.ttl-view .large:first-child {
	margin-top: 32px;
}
.ttl-view .large:last-child {
	margin-bottom: 32px;
}

.ttl-label-emoji-no-click:hover {
	background: transparent;
}
	
.ttl-label-emoji-no-click {
	background: transparent;
	padding: 0;
}

/*
  Profile
*/

.ttl-profile-cover .header-image {
  background:grey;
}
.ttl-profile-cover avatar {
	border: 6px solid @theme_base_color;
	background: @theme_base_color;
}
.large .header-image {
  border-radius:6px 6px 0 0;
}

/* Status action icons */

.ttl-status-action-star:hover, .ttl-status-action-star.enabled {
	color: @yellow_3;
}

.ttl-status-action-star:active {
	color: @yellow_4;
}

.ttl-status-action-reblog:hover, .ttl-status-action-reblog.enabled {
	color: @purple_3;
}

.ttl-status-action-reblog:active {
	color: @purple_4;
}

.ttl-status-action-reply:hover, .ttl-status-action-reply.enabled {
	color: @green_3;
}

.ttl-status-action-reply:active {
	color: @green_4;
}

.ttl-status-action-bookmark:hover, .ttl-status-action-bookmark.enabled {
	color: @red_3;
}

.ttl-status-action-bookmark:active {
	color: @red_4;
}
